html {
  box-sizing: border-box;
  background:#ffc600;
  font-family:'helvetica neue';
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

a {
  color:black;
  background:rgba(0,0,0,0.1);
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input {
  width: 100%;
  padding:20px;
}

.form {
  max-width:400px;
  margin:50px auto;
}

input.input {
      margin: 0;
      text-align: center;
      outline:0;
      border: 10px solid #F7F7F7;
      width: 120%;
      left: -10%;
      position: relative;
      top: 10px;
      z-index: 2;
      border-radius: 5px;
      font-size: 40px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    }

input.meal-delete {
  float:left;
    font-size:.80em;
    padding:0px;
    text-align: center;

}

.add-food {
    background-color: #16b7a4;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 4px 2px;
    cursor: pointer;
}



/*************Table Styling**************/

table {
  margin:50px auto;
  border:1px solid #000;
  font-weight: 400;
  /*font-weight: 200;*/
  /*font-size: 50px;*/
  /*padding: 10px 25px;*/
  text-align: center;
}

th {
  font-size: 20px;
}

td,th {
  border:none;
  text-align: left;
}

thead {color:green;}
tbody {color:blue;}
tfoot {color:black;font-weight: bold;}

#food_table button {
  background: url("../public/delete_button.png");
  background-position: 0% 0%;
}

.meals_table button {
  background: url("../public/delete_button.png");
  background-position: 0% 0%;
}

.delete {
  height: 20px;
  width: 20px;
}

.meal-delete {
  height: 20px;
  width: 20px;
}

.positive{
  color:green;
}
.negative{
  color:red;
}

/******************* Header Stylings *********************/

h1, h2, h3 {
  font-family: 'helvetica neue', sans-serif;
  font-weight: 600;
  /*font-size: 50px;*/
  /*padding: 10px 25px;*/
  text-align: center;
}
